

/* Label styling */
label {
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

/* Input and select styling */
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: none;
    width: 100%;
}

/* increase and decrease button */
.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#quantity-decrease, #quantity-increase {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ccc;
    background-color: transparent;
    color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#quantity-decrease:hover, #quantity-increase:hover {
    border-color: #fff;
    color: #fff;
    background-color: #636161;
}

#ticket-quantity {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #ccc;
    font-weight: bold;
}



/* Style for Pay Now button */
#pay-now-button {
    padding: 12px 24px;
    background-color: #d90429; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    display: inline-block;
    margin-top: 15px; 
} 

#pay-now-button:hover {
    background-color: #a3001e; 
} 
